body{
    width: 35%;
    color: white;
    margin-left: 1%;
    text-shadow: 0.5px 0.5px 1px #ffffff; 
    
}

h1{
    font-size: 48px;
    color: white;
    text-align: Left;
}

h2{
    font-size: 36px;
    text-align: Left;
    text-shadow: 0.5px 0.5px 1px #ffffff; 
}

p {
    font-size: 28px;
    margin-bottom: 2px;
}
.clickable{
    color:rgb(255, 171, 185);
    cursor: grab;
}
.clickable:hover {
    color: rgb(255, 82, 154);
    font-size: 30px;
}

.hidden{
    display: none;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
